.cartContainer {

  h6 {
    color: #333;
    text-transform: capitalize;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 500;
  }
  span {
    background: #333;
    color: #fff;
    padding: 1px;
    font-size: 17px;
    border-radius: 10px;
  }
  .dropDownCart {
    background: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
  }
  button {
    background: #333;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    color: #f3f3f3;
  }
}
